@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Grape+Nuts&family=Roboto&display=swap');

// colors
$primaryColor: #E6EBF2;
$secondaryColor: #47C26E;
$tertiaryColor: #303788;


body {
  font-family: 'Roboto';
}